/* xsmall */
/* @media (min-width: 475px){} */

/* small */
/* @media (min-width: 640px){} */

/* medium */
/* @media (min-width: 768px){} */

/* large */
/* @media (min-width: 1024px){} */

/* xlarge */
/* @media (min-width: 1280px){} */

/* 2xlarge */
/* @media (min-width: 1536px){} */
.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-black);
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgb(0,0,0, 0.5), 0 6px 6px rgb(0,0,0, 0.5), 0 0 100px -10px var(--clr-black);
    transition: transform 0.3s, box-shadow 0.2s ;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgb(0,0,0, 0.25), 0 10px 10px rgb(0,0,0, 0.22), 0 0 120px -10px var(--clr-black);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 5rem;
}
.loading{
    filter: blur(30px) grayscale(100%);
}
.loaded{
    filter: blur(0) grayscale(0);
    transition: 0.7s ease-in-out;
}
/* xsmall */
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }
}
/* small */
@media (min-width: 640px){
    .container{
        max-width: 640;
    }
}

/* medium */
@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
}

/* large */
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }

    .section {
        margin-top: 10rem;
    }
}

/* xlarge */
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

/* 2xlarge */
@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}
